# MongoDB configuration
SPRING_DATA_MONGODB_URI=mongodb+srv://sathurjanv23_db_user:TsheqPqhgj5whR0K@cluster0.1ypqtz5.mongodb.net/crms?retryWrites=true&w=majority&appName=Cluster0

# Google OAuth configuration
GOOGLE_CLIENT_ID=799515143551-e1j9jbunmnj8g6vdgbtfjre9d2bgrbn8.apps.googleusercontent.com

# Mail configuration
MAIL_USERNAME=sathu20030303@gmail.com
MAIL_PASSWORD=cvkzdhfmupgzufql

# JWT configuration
JWT_SECRET=mySecretKeyForJWTTokenGenerationAndValidationPurposesOnly12345
